<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>HTTP Trail</title>
    <link href="/assets/application.css" rel="stylesheet" type="text/css"/>
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
					<a href="http://github.com/hiremaga/httptrail"><img class="github-badge" src="https://a248.e.akamai.net/assets.github.com/img/abad93f42020b733148435e2cd92ce15c542d320/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub"></a>

          <a class="brand" href="#">HTTP Trail</a>
					<ul class="nav pull-right">
					  <li>
					    <a href="https://twitter.com/#!/hiremaga">by @hiremaga</a>
					  </li>
					</ul>
        </div>
      </div>	
    </div>

    <div class="container">
		<div class="page-header">
		Try this: <code> curl -i <a id='example' href="#">http://<%= settings.domain %>/hello</a> </code>
		</div>
		
	    <ol id="trail"></ol>
    </div>

    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="http://js.pusher.com/1.11/pusher.min.js"></script>
    <script src="/assets/application.js"></script>
  </body>
</html>
