<html>
  <head>
    <title>HTTP Trail</title>
    <link href="/assets/application.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <h1>HTTP Trail</h1>
    
    <h2>Try this:</h2>
    <code>
      curl -i <a id='example' href="#">http://httptrail.herokuapp.com/hello</a>
    </code>

    <ul id="trail"></ul>

    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="http://js.pusher.com/1.11/pusher.min.js"></script>
    <script src="/assets/application.js"></script>
  </body>
</html>
